.castbkcolor{
    background-color: lightsteelblue
}

.divscroll{
    max-width: 260px; 
    max-height: 250px;
}

.radiospace{
    padding-left:10px;
    color:darkviolet
}

.radiobgcolor{
    background-color: cornflowerblue;
}

.radiocastspace{
    padding-left:10px;
    color:darkslategray;
    font-weight: 600;
}

input[type="radio"] {
    color: whitesmoke
 }

