.Logo {
    background-image: url(../img/rightcourse.png);
  }

  .logosize{
    width: 300px;
    margin-left: 10px;
  }

  .container1{
    background-color: red;
    margin: 0px;
    padding: 0px;
  } 
  .rightmenu{
    margin-right: 40px; 
    width: auto;
  }

  .iconsize1{
    width: 50px;
    margin-right: 10px;
  }
  .nav-link{
    font-family: sans-serif, 'Roboto';
    color: blue !important;
  } 